<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/Utils/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="about">
        <div class="container">
            <h2>Acerca de Nosotros</h2>
            <p>Somos una plataforma médica comprometida con la excelencia en la atención de la salud. Nuestro equipo está formado por profesionales apasionados por mejorar la experiencia médica para pacientes y médicos.</p>
            
            <h3>Nuestra Misión</h3>
            <p>Nuestra misión es facilitar el acceso a servicios médicos de calidad al conectar a pacientes con médicos especialistas en diversas áreas de la medicina. Buscamos proporcionar herramientas innovadoras y fiables que permitan a los pacientes tomar decisiones informadas sobre su salud.</p>
            
            <h3>Nuestros Valores</h3>
            <ul>
                <li><strong>Compromiso:</strong> Nos comprometemos a proporcionar servicios médicos confiables y de alta calidad.</li>
                <li><strong>Accesibilidad:</strong> Buscamos ser accesibles para todos, priorizando la atención médica asequible y disponible para cada individuo.</li>
                <li><strong>Confidencialidad:</strong> Respetamos la privacidad y la confidencialidad de la información médica de nuestros usuarios.</li>
                <li><strong>Innovación:</strong> Buscamos constantemente nuevas formas de mejorar la experiencia médica y la comunicación paciente-médico.</li>
            </ul>
            
            <h3>Nuestro Equipo</h3>
            <p>Nuestro equipo está integrado por profesionales altamente calificados y comprometidos con la misión y visión de nuestra plataforma. Cada miembro aporta experiencia y dedicación para garantizar un entorno seguro y confiable para todos nuestros usuarios.</p>

            <h3>Beneficios para Pacientes</h3>
        <ul>
            <li><strong>Acceso rápido:</strong> Conectamos a los pacientes con médicos especialistas sin demoras innecesarias.</li>
            <li><strong>Variedad de Especialidades:</strong> Ofrecemos acceso a una amplia gama de especialidades médicas para cubrir todas las necesidades de salud.</li>
            <li><strong>Comunicación Directa:</strong> Facilitamos la comunicación directa y segura entre pacientes y médicos para una atención más personalizada.</li>
            <li><strong>Confidencialidad Garantizada:</strong> Priorizamos la privacidad y la confidencialidad de la información médica de nuestros usuarios.</li>
        </ul>
        
        <h3>Colaboración Médica</h3>
        <p>Fomentamos la colaboración entre médicos, permitiéndoles compartir conocimientos y experiencias para brindar un mejor cuidado a los pacientes.</p>
        
        <h3>Innovación Tecnológica</h3>
        <p>Constantemente estamos en busca de nuevas tecnologías y métodos para mejorar la experiencia médica y hacerla más accesible para todos.</p>
        
        <h3>¿Por Qué Elegirnos?</h3>
        <p>Nuestra plataforma está respaldada por un equipo multidisciplinario de expertos en tecnología y salud, comprometidos en proporcionar un servicio excepcional y confiable.</p>
        
        <h3>¡Únete a Nosotros!</h3>
        <p>Si compartes nuestra pasión por la mejora de la atención médica y la innovación, ¡te invitamos a unirte a nuestra comunidad!</p>
            
            <h3>Contacto</h3>
            <p>Estamos disponibles para responder a tus preguntas, recibir comentarios o atender cualquier inquietud que tengas. Puedes contactarnos a través de nuestro correo electrónico medipro@gmail.com o llamando al número</p>
            <div class="iconos-about">
                <div><img src="../Public/images/llamada.png" alt="icono de celular movil" width="30px" height="30px"></div>
                <div><p>+591 77128596</p></div>
            </div>
            <br>
            <div class="iconos-about">
                <div><img src="../Public/images/telefono-fijo.png" alt="icono de telefono fijo" width="30px" height="30px"></div>
                <div><p>64-22260</p></div>
            <div>
        </div>
    </div>
</body>
</html>