<div class="specialties-list">
    <h1>Especialidades</h1>
    <ul>
      <% listaEspecialidades.forEach(especialidad => { %>
        <li class="specialty-card">
          <div class="specialty-image" style="background-image: url('/images/<%= especialidad.perfil %>');"></div>
          <div class="specialty-content">
            <h2><%= especialidad.nombre %></h2>
            <p><%= especialidad.descripcion %></p>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>
  
