<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/main.js"></script>
</head>
<body>
    <h3><%= gUsuarios %><h3/>
      <header class="header2">
        <button class="button" onclick="mostrar_formMedico()">
          Agregar Usuario
        </button>

        <div class="buscar">
          <label for="dato">Buscar</label>
          <input type="text" id="dato-medico" />
          <button class="button" onclick="buscar_medico()">Buscar</button>
        </div>
      </header>
      <button class="volverAtras" onclick="volverAtras()">Volver Atras</button>
</body>
</html>