
<div class="sevicices">

    <h2>Nuestros Servicios</h2>
    <div class="container-servicios">
        <ul class="servicios-list">
            <li>
                <div class="servicio-item">
                    <img src="https://www.mediasource.mx/hs-fs/hubfs/blog-files/marketing-medico.png?width=1200&name=marketing-medico.png" alt="Servicio 1">
                    <h3>Servicio de Promoción para Médicos</h3>
                    <p>Destaque su práctica médica y llegue a más pacientes a través de nuestra plataforma de promoción.</p>
                    <a href="javascript:cargarMedicos()">Más información</a>
                </div>
            </li>
            <li>
                <div class="servicio-item">
                    <img src="https://usamedic.pe/wp-content/uploads/2020/06/especialidades-m%C3%A9dicas-y-sus-funciones.png" alt="Servicio 2">
                    <h3>Consulta de Especialidades Médicas</h3>
                    <p>Encuentre médicos especialistas en diversas áreas de la medicina para abordar sus necesidades de salud.</p>
                    <a href="/consulta-especialidades">Explorar Especialidades</a>
                </div>
            </li>
            <li>
                <div class="servicio-item">
                    <img src="https://socialdigital.iadb.org/sites/default/files/2021-02/banner-24_1200x525-v01-01.jpg" alt="Servicio 3">
                    <h3>Interacción Paciente-Médico</h3>
                    <p>Facilitamos la comunicación entre pacientes y médicos para una atención más personalizada y efectiva.</p>
                    <a href="/interaccion-paciente-medico">Iniciar Conversación</a>
                </div>
            </li>
            <!-- Agrega más servicios según corresponda -->
        </ul>
    </div>
    
    <div class="container-servicios">
        <div class="tarifas">
            <h3>Tarifas</h3>
            <p>Consulta nuestras tarifas para aprovechar al máximo nuestros servicios.</p>
            <a href="/tarifas">Ver Tarifas</a>
        </div>
    
        <div class="testimonios">
            <h3>Testimonios</h3>
            <p>Descubre lo que dicen nuestros usuarios sobre la calidad de nuestros servicios.</p>
            <a href="/testimonios">Ver Testimonios</a>
        </div>
    </div>
</div>

